@page "/"

<HTML>
       <head>
            <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta name="description" content="Exercise that demonstrates image background in body element.">
		    <meta name="keywords" content="HTML, CSS, JavaScript, web development">
			<title> Noam Shelkovitz's Website</title>
			<link rel="stylesheet" href="myStyle.css">
      </head>
       <body>
			  <div class = "container">
			        <div class ="left">
					       <div class="nav">
					                <label>
						                   <input type="checkbox" id="myCheckbox" name="myCheckbox">
						                      logo
					                </label>
				           </div>
					</div>
					<div class="right">
					
					</div>
			  </div>
             
       </body>
</html>

